<div class="product">
  <h1><%= product.product_name %></h1>
  <p>In-Stock quantity: <%= product.stock_quantity %></p>
  <p>Price: $<%= product.price %></p>
  <p><%= product.description %></p>
  <p><%= image_tag product.image %></p>
</div>
