<div class="products">
  <h1><%= item.product_name %></h1>
  <p>In-Stock quantity: <%= item.stock_quantity %></p>
  <p>Price: $<%= item.price %></p>
  <p><%= item.description %></p>
  <p><%= image_tag item.image %></p>
</div>
